<div class="columns">
    <div class="column">
        <div class="title">
            Ooops... Não foi encontrado nenhum registro
        </div>
        <figure class="image is-4by3">
            <img class="is-rounded" src="assets/img/no-results.png">
        </figure>
    </div>
    <hr />    
</div>
<div class="columns">
    <div class="column">
        <div class="alinhar-textos">
            <p class="tamanho-fonte">{{texto}}</p>
            <div class="espacamento-botao">
                <button class="button is-large is-success is-rounded" (click)="navegarRota()">Cadastrar</button>
            </div>
        </div>
    </div>
</div>